.statsTodaycontainer{
    /* border: 2px solid red; */
    width: 47%;
    padding: 9px 0px 0px 15px;
    background-color: white;
    border-radius: 10px;
    margin: 8px
}
.statsTodaycontainer .container-head{
    
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}
.statsTodaycontainer .data-container{
    display: flex;
    justify-content: space-around;
    padding: 26px 0px;
}
.statsTodaycontainer .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 532px) {
    .statsTodaycontainer{
        width: 100%;
    }
}